{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-6">
    <div class="alert alert-info">
        Your password has been set.
    <!-- </div> -->
    <div>


  <a  href="{% url 'login' %}" class="btn btn-primary mt-3" >Login</a>

  <!-- <input type="submit" class="btn btn-info" value="Submit Button"> -->

  <!-- <a href="#" class="btn btn-info" role="button">Link Button</a> -->
      </div>
      </div>
    </div>
      </div>
  </div>
{% endblock %}
</body>
</html>
