{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container p-2">
<div class="row">
  <div class="col-md-12 col-sm-6">
    <div class="table-responsive table-hover">
<table class="table">
  <thead>
  <tr>
  <th>Name</th>
  <th>Description</th>
  <th>Date</th>
  <th>Posted By</th>
  <th>PDF</th>
  <th>Delete</th>
  </tr>
</thead>
{% for pdf in pdfs %}
  <tr>
    <td>{{pdf.name}}</td>
    <td>{{pdf.description}}</td>
    <td>{{pdf.date | date:'d-m-Y'}}</td>
    <td>{{pdf.posted}}</td>
    <td><a href="{{pdf.pdf.url}}" class="btn btn-primary " target="_blank">Download</a></td>
    <td>
    <form method="post" action="{% url 'delete_post' pdf.pk %}">
                {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-mb">Delete</button>
    </form>
  </td>
</tr>
  </div>
</div>
</div>

{% endfor %}
</table>
{% if pdfs.has_other_pages %}
  <ul class="pagination">
    {% if pdfs.has_previous %}
      <li class="page-item">
        <a href="?page={{pdfs.previous_page_number}}" class="page-link">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">&laquo;</a>
      </li>
    {% endif %}
    {% for i in pdfs.paginator.page_range %}
      {% if pdfs.number == i %}
        <li class="page-item active">
          <a class="page-link">{{i}}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a href="?page={{i}}" class="page-link">{{i}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if pdfs.has_next %}
      <li class="page-item">
        <a href="?page={{pdfs.next_page_number}}" class="page-link">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">&raquo;</a>
      </li>
    {% endif %} 
  </ul>
{% endif %}
</div>
{% endblock %}
